* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --blue: #0A3362;
    --white: #FFFFFF;
    --black: #000000;

    --select-border-radius: 8px;
}

body {
    background-color: #e5e5e5;
}

.object-fit-cover {
    object-fit: ceover;
}

.object-position-center {
    object-position: center;
}

.bni-blue {
    background-color: var(--blue);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.text-elip {
    text-overflow: ellipsis;
}

.underline-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

/* dashboard layout */
.dashboard-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

/* style navbar style */

.logo-img {
    width: 100px;
    aspect-ratio: 1/1;
}

.logo-title {
    color: var(--blue);
    font-weight: var(--fw-700);
    font-size: 1.5rem;
}

.aside-list-item {
    background-color: var(--blue);
    font-size: .85rem;
    font-weight: var(--fw-600);
    border-radius: 7px;
}

.aside-subheading {
    color: var(--black);
    font-weight: var(--fw-700);
    font-size: .9rem;
}

/* style dashboard main */
.dashboard-main {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-img {
    aspect-ratio: 1/1;
    width: 55px;
    object-fit: cover;
    object-position: center;
}

.profile-name {
    color: var(--black);
    font-size: .9rem;
    font-weight: var(--fw-700);
}

.search-company {
    max-width: 500px;
    width: 1200px;
    padding-block: .6rem;
    padding-inline: 4rem 1rem;
    border-radius: 10px;
    color: rgba(0, 0, 0, .6);
    font-size: .95rem;
}

.search-icon {
    position: absolute;
    top: .5rem;
    left: .8rem;
    overflow: hidden;
}

.select-container {
    width: fit-content !important;
    float: right;
    position: relative;
}

.select-bg {
    position: absolute;
    inset: 0;
    background-color: var(--blue);
    z-index: -1;
    border-radius: var(--select-border-radius);
}

.select-container select {
    --select-w: 200px;

    background-color: transparent;
    border: none;
    padding: 7px 10px;
    width: var(--select-w);
    height: 35px;
    color: var(--white);
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('../storage/svg/chevron-compact-down.svg');
    background-repeat: no-repeat;
    background-position-x: calc(var(--select-w) - 40px);
    background-position-y: 9px;
    border-radius: var(--select-border-radius);
    font-weight: var(--fw-700);
    font-size: .8rem;
}

.select-container option {
    color: var(--black);
    font-weight: normal;
    text-transform: capitalize;
}

.hapus-filter {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: var(--select-border-radius);
    padding-inline: .8rem;
    width: 140px;
    font-size: .9rem !important;
    font-weight: var(--fw-700) !important;
}

/* style vacancy card */
.vacancy-card-list {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
}

.vacancy-card {
    height: fit-content;
    border-radius: 10px;
}

.salary-text {
    font-weight: var(--fw-700);
    font-size: 1.05rem;
}

.company-photo {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.vacancy-role {
    font-weight: var(--fw-700);
    font-size: 1.1rem;
}

.vacancy-major-choice {
    font-size: .9rem;
}

.vacancy-small-detail,
.vacancy-small-info {
    list-style: none;
    padding: 0;
}

.vacancy-small-detail>li {
    font-size: .9rem;
}

.vacancy-small-info>li {
    font-size: .9rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    width: 80px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vacancy-detail {
    font-weight: var(--fw-600);
    background-color: var(--blue);
    padding: 9px 0;
    font-size: .95rem;
    border-radius: 8px;
    width: 150px;
}

.vacancy-apply-form {
    background-color: rgba(0, 0, 0, .4);
}

.apply-form {
    width: 80%;
    height: calc(100% - 30px);
    border-radius: 20px;
}

.apply-form-title {
    font-size: 1.3rem;
    font-weight: var(--fw-700);
}

.apply-company-title>* {
    font-size: .95rem;
}

.apply-vacancy-img {
    height: 50px;
    width: 50px;
    border-radius: 6px;
}

.apply-vacancy-small-detail {
    font-size: .85rem;
}

.apply-vacancy-small-detail>* {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.form-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.form-input-container label {
    grid-column: 1;
    align-self: center;
    font-size: .9rem;
}

.form-input-container .input-group {
    grid-column: 2 / span 2;
    display: flex;
    gap: 10px;
}

.box {
    font-size: .8rem;
    flex: 1;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.form-input-container span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-apply-form {
    padding: 5px;
    border-radius: 8px;
    width: 120px;
    background-color: var(--blue);
    font-size: .9rem;
}

.apply-vacancy-button {
    background-color: var(--blue);
    font-size: .9rem;
    width: 115px;
    padding: 5px;
    border-radius: 7px;
}

.apply-vacancy-detail-lowongan {
    font-size: .95rem;
}

.apply-vacancy-detail {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    height: calc(100% - 3rem);
    padding: 20px;
    font-size: .9rem;
    border-radius: 7px;
}

.vacancy-apply-form-container {
    background-color: rgba(0, 0, 0, .4);
}

.vacancy-apply-form-card {
    border-radius: 20px;
    width: 500px;
}

.vacancy-apply-form-card-title {
    font-size: 1.5rem;
}

.vacancy-apply-form-card-small-info {
    font-size: .9rem;
}

.apply-form-common-info-heading {
    font-size: 1rem;
}

.apply-form-common-info>input,
.apply-form-common-info>select {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
}

.apply-form-common-info>input::placeholder {
    color: black;
    font-size: .9rem;
}

.apply-form-upload-file-info>span {
    font-size: .8rem;
}

.apply-form-upload-file {
    background-color: var(--blue);
    padding: 5px;
    font-size: .9rem;
    border-radius: 6px;
}

.apply-form-common-info-btn {
    background-color: var(--blue);
    font-size: .9rem;
    width: 110px;
    padding: 5px;
    border-radius: 7px;
}

.apply-form-icon {
    width: 70px;
}

.applied-vacancy-status {
    background-color: rgba(0, 0, 0, .4);
}

.status-btn-container {
    border-radius: 15px;
    width: 450px;
}

.status-btn-container .mk button {
    width: 150px;
    font-size: .9rem;
    padding: 10px;
    border-radius: 7px;
}

.dashboard__logout {
    border-radius: 20px;
    width: 450px;
}

.dashboard__close-btn {
    border-bottom-left-radius: 20px;
    font-size: 1.1rem;
    padding: 10px 15px;
}

.dashboard__add-vacancy-company {
    width: 80%;
    height: calc(100% - 30px);
    border-radius: 20px;
}

.dashboard__add-vacancy-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 2rem;
}

.dashboard__add-vacancy-company label {
    font-size: .9rem;
}

.dashboard__add-vacancy-company input {
    font-size: .9rem;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 3px 5px;
}

.dashboard__add-vacancy-form select {
    font-size: .9rem;
    border-radius: 7px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.dashboard__add-vacancy-textarea {
    width: 100%;
    height: 450px;
    resize: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: .9rem;
    text-align: justify;
}

.dashboard__add-vacancy-company button {
    padding: 3px;
    font-size: .9rem;
    border-radius: 10px;
    width: 100px;
}

.dashboard__add-vacancy-logo {
    border: 1px solid blue;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.dashboard__add-vacancy-logo div {
    font-size: 1.1rem;
}

.dashboard__add-vacancy-logo i {
    font-size: 2.3rem;
    margin-top: .5rem;
    color: rgb(82, 82, 252);
}

.dashboard__add-vacancy-notification {
    width: 80%;
    height: calc(100% - 30px);
    border-radius: 20px;
}

.dashboard__add-vacancy-notification img {
    aspect-ratio: 1/1;
    width: 70px;
}

.dashboard__add-vacancy-notification button {
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    top: 4rem;
}

.dashboard__manage-vacancy-textarea {
    width: 100%;
    height: 450px;
    resize: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: .9rem;
    text-align: justify;
}

.dashboard__manage-vacancy-form,
.dashboard__manage-vacancy-notification {
    width: 80%;
    height: calc(100% - 30px);
    border-radius: 20px;
}

.dashboard__manage-vacancy-input {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 2rem;
}

.dashboard__manage-vacancy-input label {
    font-size: .9rem;
}

.dashboard__manage-vacancy-input input,
.dashboard__manage-vacancy-status,
.dashboard__add-vacancy-status {
    font-size: .9rem;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 3px 5px;
}

.dashboard__manage-vacancy-input select {
    font-size: .9rem;
    border-radius: 7px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.dashboard__manage-vacancy-status,
.dashboard__add-vacancy-status {
    padding: 5px 10px;
}

.dashboard__manage-vacancy-logo {
    border: 1px solid blue;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.dashboard__manage-vacancy-logo div {
    font-size: 1.1rem;
}

.dashboard__manage-vacancy-logo i {
    font-size: 2.3rem;
    margin-top: .5rem;
    color: rgb(82, 82, 252);
}

.dashboard__manage-vacancy-form button {
    padding: 3px;
    font-size: .9rem;
    border-radius: 10px;
    width: 100px;
}

.dashboard__manage-vacancy-notification img {
    aspect-ratio: 1/1;
    width: 70px;
}

.dashboard__manage-vacancy-notification button {
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    top: 4rem;
}

/* animasi klik tombol */
.click-animation {
    transform: scale(1);
    opacity: 1;
    transition: all 50ms ease;
}

.click-animation:active {
    opacity: .9;
    transform: scale(.95);
}

/* container informasi data tidak ditemukan */
.dashboard__not-found-icon {
    aspect-ratio: 1/1;
    width: 65px;
}

.dashboard__not-found-container {
    width: 400px;
    margin-top: calc(100% - 12rem);
}

.dashboard__not-found-container p {
    font-size: .9rem;
}