* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --primary: #0A3362;
    --secondary: #E3CDB0;
    --whiteClr: #fdfdfd;
    --whiteBgClr: #f8f8f8;
}

/* body {
    height: 100vh;
} */

.navbar {
    height: 70px;
}

.rain-logo {
    width: 60px;
    transform: scale(1.2);
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.logo-title {
    font-weight: var(--fw-700);
    color: var(--primary);
    font-size: 1.15rem;
}

.custom-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.custom-nav-list>* {
    margin-inline: .5rem;
    font-weight: var(--fw-500);
    font-size: .95rem;
    color: var(--primary);
    text-decoration: none;
}

.nav-profile {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.dashboard-content-container {
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -3px -4px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 100%;
    margin-top: 5rem;
}

/* detail lowongan magang style start */

.detail-title {
    font-weight: var(--fw-700);
    font-size: 1.5rem;
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.detail-profile img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.detail-profile p {
    font-size: .9rem;
    text-transform: capitalize;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: .4rem .6rem;
}

.detail-information-table {
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.detail-information-box {
    width: 250px;
    padding: .5rem 1rem;
    font-size: .9rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.deskripsi-lowongan-heading {
    font-weight: var(--fw-700);
}

.kotak-deskripsi {
    font-size: .95rem;
    width: 100%;
    height: 560px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.daftar-lowongan {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: .4rem;
    border: 1px solid transparent;
    width: 110px;
    font-size: .9rem;
}

.kembali-btn {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
    padding: .3rem .5rem;
    width: 100px;
    margin-top: 8rem;
}

/* detail lowongan magang end */

/* formulir lamaran style start */

.formulir-container {
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
}

.formulir-lamaran-heading {
    font-weight: var(--fw-700);
}

.formulir-lamaran-small-text {
    font-size: .9rem;
}

.input-file {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
}

.formulir-laporan-btn {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: .9rem;
    padding: .5rem;
    border: none;
    width: 110px;
}

.close-form-lamaran-btn {
    display: flow-root;
    font-size: 2rem;
}

.form-lamaran-success {
    display: grid;
    grid-template-rows: 1fr min-content;
    place-items: center;
}

.form-kembali-btn {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    font-size: .95rem;
    padding: .5rem;
    width: 110px;
}

/* formulir lamaran style end */