.profile__profile-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); */
}

.profile__profile-nama-lengkap {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
}

.profile__profile-more-info {
    display: grid;
    gap: 10px 2rem;
    align-items: center;
    grid-template-columns: max-content 1fr;
}

.profile__profile-more-info > input {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: .9rem;
}

.profile__profile-edit-notification {
    border-radius: 20px;
    width: 450px;
    height: 170px;
}

.profile__profile-edit-notification-btn {
    font-size: .9rem;
    width: 110px;
    padding: 7px;
    border-radius: 8px;
}

.profile__profile-success-edit-icon {
    aspect-ratio: 1/1;
    width: 60px;
    opacity: .4;
    top: 25px;
}

.profile__profile-delete-account {
    border-radius: 20px;
    width: 450px;
}

.profile__profile-close-btn {
    border-bottom-left-radius: 20px;
    font-size: 1.1rem;
    padding: 10px 15px;
}