* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --blue: #0A3362;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: #e5e5e5;
}

/*menghilangkan icond default bootstrap */
input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    background-image: none !important;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

.d-none {
    display: none;
}

.form-container {
    min-height: 100vh;
    display: flex;
}

.form-container .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;
    background-color: var(--white);
}

.form-container .img-container .form-ilustration {
    width: 500px;
    aspect-ratio: 1/1;
    position: relative;
    z-index: 1;
    /* display: none; */
}

.form-container .img-container .left-top-ilustration-1,
.form-container .img-container .left-bottom-ilustration-1,
.form-container .img-container .right-top-ilustration-1,
.form-container .img-container .right-bottom-ilustration-1 {
    position: absolute;
    aspect-ratio: 1/1;
}

.form-container .img-container .left-top-ilustration-1 {
    width: 230px;
    top: -3rem;
    left: 0rem;
    transform: rotate(90deg);
}

.form-container .img-container .left-bottom-ilustration-1 {
    width: 200px;
    bottom: -5em;
    left: -3rem;
}

.form-container .img-container .right-top-ilustration-1 {
    width: 200px;
    top: -2rem;
    right: 0;
}

.form-container .img-container .right-bottom-ilustration-1 {
    width: 200px;
    bottom: -2rem;
    right: .8rem;
    transform: rotate(-60deg);
}

.form-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form>div {
    padding-inline: 1rem;
    width: clamp(50px, 75%, 500px);
}

.form-container form>div h1 {
    font-weight: var(--fw-700);
    color: var(--blue);
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
}

.form-container form>div div:not(.form-option) {
    margin-bottom: .7rem;
}

.form-container form>div label,
.file-label {
    display: block;
    color: var(--blue);
    font-weight: var(--fw-600);
    font-size: .85rem;
    margin-bottom: .5rem;
}

.form-container form>div input {
    width: 100%;
    padding: .6rem;
    border: 1px solid transparent;
    background-color: var(--white);
    border-radius: 6px;
    font-size: .95rem;
    transition: all 200ms;
    border: 1px solid #ddd;
    /* outline: none; */
    padding-right: 2rem;
}

.display-file {
    width: 100%;
    font-size: .95rem;
    background-color: var(--white);
    border-radius: 6px;
    padding: .6rem;
    border: 1px solid #ddd;
}

.display-file-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
    display: block;
    margin: 0;
}

.form-container form>div .input-wrapper {
    position: relative;
}

.form-container form>div .input-wrapper>i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.15rem;
    transition: all 200ms;
}

.form-container form>div .show-password {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.15rem;
    display: inline-block;
    transition: all 200ms;
    cursor: pointer;
}


.form-container form>div input:focus {
    transform: translateY(-5px);
    border: 1px solid transparent;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 5x 5px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.26);
}

.form-container form>div input:focus~i,
.form-container form>div input:focus~.show-password {
    top: 7px;
}

.form-container form>div .form-option {
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
}

.form-container form>div .form-option a {
    color: var(--blue);
}

.form-container form>div>button {
    display: block;
    margin-inline: auto;
    font-size: .9rem;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid transparent;
    border-radius: 6px;
    padding: .6rem;
    margin-block: 2rem 1.2rem;
    width: 100px;
}

.form-container form>div .other-option .border {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.form-container form>div .other-option .border .text {
    font-size: .8rem;
    position: relative;
    opacity: .8;
}

.form-container form>div .other-option .border .line {
    height: 1px;
    width: 100%;
    background-color: rgba(8, 8, 56, 0.747);
}

.form-container form>div .other-option img {
    width: inherit;
    aspect-ratio: 1/1;
}

.form-container form>div .other-option .social-button-wrapper {
    width: fit-content;
    margin: 1rem auto;
}

.form-container form>div .other-option .social-button {
    border: 1px solid transparent;
    width: 30px;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin-inline: .3rem;
    background-color: var(--white);
}

button:active {
    transform: scale(.97);
}

.input-surat {
    display: none;
}

.box-surat {
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--white);
    padding: .6rem;
    font-weight: var(--fw-700);
    color: var(--blue);
}

.box-surat i {
    font-size: 1.2rem;
}